<mat-toolbar>
    <mat-toolbar-row>
        <span>Busca de Pokemons</span>
    </mat-toolbar-row>
</mat-toolbar>



<!-- <nav style="background-image: radial-gradient(farthest-corner at 45px 45px , #1acbeb 5%, #FFFFFF 100%)" class="navbar">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">BLABLA</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav m1-auto">
                <li><a routerLink="/pokemons" class="nav-link">Pokemons</a></li>
                <li><a routerLink="/detalhes" class="nav-link">Detalhes</a></li>
            </ul>
        </div>
    </div>
</nav> -->