/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 45px 45px, #1acbeb 5%, #FFFFFF 100%);
  background-repeat: no-repeat;
}
