<div class="app-entry">
    <mat-toolbar>
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" class="pokemon-logo">
        </div>
        <mat-form-field>
            <mat-select placeholder="Selecione um pokemon" [value]="pokemonId" (selectionChange)="goToPokemonPage($event)">
                <mat-option *ngFor="let pokemon of pokemons" value="{{pokemon.name}}">{{pokemon.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar>
    <div class="home-page">
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer>
        By <a href=" https://github.com/lucasrilko/">@lucasrilko </a> in 06/02/2020 </footer>

</div>